@tailwind base;
@tailwind components;
@tailwind utilities;

.haikei {
  background-color: black;
}

.example {
  color: red;
}

.bed {
  height: 100px;
  width: 100px;
  text-align: center;
}

.center {
  text-align: center;
  margin-top: 5em;
}

.honban {
  text-align: center;
}

.bg-img {
  background-image: url("/front.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 60vw;
}

.hand {
  height: 100%;
  width: 120px;
  display: flex;
  background-color: blue;
  opacity: 0.5;
}

.handle {
  color: red;
}
