.haikei {
  background-color: black;
}

.example {
  color: red;
  font-size: 60px;
}

.center {
  text-align: center;
  margin-top: 5em;
}

.honban{
  text-align: center;
}
.honbanimg{
  height: 100%;
  width: 70%;
  align-self: center;
}



